In [1]:
import pandas as pd
from utils import get_engine, get_field_type

In [2]:
brm = {
    'username': 'brmapp01',
    'password': 'brmapp01',
    'sid': 'BBRMPAZT',
    'host': '10.216.48.27', # des
    'port': 1521
}
engine = get_engine(brm)

In [3]:
def get_oob_fields():
    """Return BRM OOB fields."""
    query="""SELECT  field_name, field_type type_id FROM dd_objects_fields_t"""
    fields = pd.read_sql(query, engine)
    fields['type_name'] = fields.type_id.apply(get_field_type)
    return fields

In [4]:
def get_custom_fields():
    """Returns BRM Custom fields."""
    query="""SELECT  field_name, field_type type_id, field_num FROM dd_fields_t"""
    fields = pd.read_sql(query, engine)
    fields['type_name'] = fields.type_id.apply(get_field_type)
    return fields

In [5]:
def get_brm_fields():
    """Returns BRM fields"""
    # get brm fields 
    fields_oob = get_oob_fields()
    fields_custom = get_custom_fields()
    # merge oob and custom fields, fill nulls with 0 and cast field number as integer
    fields = fields_oob.append(fields_custom)
    fields.field_num.fillna(0, inplace=True)
    fields.field_num = fields.field_num.astype(int)
    return fields

In [7]:
fields_oob = get_oob_fields()

In [8]:
%time fields = get_brm_fields()
fields.drop_duplicates('field_name', inplace=True)

Wall time: 811 ms

In [42]:
fields[(fields.field_name.str.contains('total'.upper())) & 
       (fields.type_name == 'PIN_FLDT_DECIMAL'.upper())]

                            field_name  field_num  type_id         type_name
426              PIN_FLD_CURRENT_TOTAL          0       14  PIN_FLDT_DECIMAL
432             PIN_FLD_PREVIOUS_TOTAL          0       14  PIN_FLDT_DECIMAL
434              PIN_FLD_SUBORDS_TOTAL          0       14  PIN_FLDT_DECIMAL
435                  PIN_FLD_TOTAL_DUE          0       14  PIN_FLDT_DECIMAL
853                PIN_FLD_BATCH_TOTAL          0       14  PIN_FLDT_DECIMAL
1877                PIN_FLD_ITEM_TOTAL          0       14  PIN_FLDT_DECIMAL
4157               PIN_FLD_TOTAL_VALUE          0       14  PIN_FLDT_DECIMAL
4254      PIN_FLD_TOTAL_REVENUE_BILLED          0       14  PIN_FLDT_DECIMAL
4683             PIN_FLD_TOTAL_REVENUE          0       14  PIN_FLDT_DECIMAL
5183                    PIN_FLD_TOTALS          0       14  PIN_FLDT_DECIMAL
5199                     TPL_FLD_TOTAL          0       14  PIN_FLDT_DECIMAL
5200                 TPL_FLD_TOTAL_DPP          0       14  PIN_FLDT_DECIMAL
5201                 TPL_FLD_TOTAL_IVA          0       14  PIN_FLDT_DECIMAL
5694          TPL_FLD_TOTAL_COST_ADDON          0       14  PIN_FLDT_DECIMAL
5695           TPL_FLD_TOTAL_COST_PLAN          0       14  PIN_FLDT_DECIMAL
19                    TPL_FLD_SUBTOTAL      10027       14  PIN_FLDT_DECIMAL
22    TPL_FLD_TOTAL_DETALLE_TEL_AMOUNT      10045       14  PIN_FLDT_DECIMAL
24        TPL_FLD_TOTAL_DETALLE_TV_VOD      10038       14  PIN_FLDT_DECIMAL
25                 TPL_FLD_TOTAL_PAGOS      10039       14  PIN_FLDT_DECIMAL
26         TPL_FLD_TOTAL_RENTA_EQUIPOS      10037       14  PIN_FLDT_DECIMAL
27           TPL_FLD_TOTAL_SERVICIO_IP      10036       14  PIN_FLDT_DECIMAL
28          TPL_FLD_TOTAL_SERVICIO_TEL      10033       14  PIN_FLDT_DECIMAL
29           TPL_FLD_TOTAL_SERVICIO_TV      10030       14  PIN_FLDT_DECIMAL

In [41]:
fields[fields.field_name.str.contains('total'.upper())]

                            field_name  field_num  type_id         type_name
31           PIN_FLD_NUM_TOTAL_RECORDS          0        1      PIN_FLDT_INT
335            PIN_FLD_TOTAL_PROCESS_T          0        8   PIN_FLDT_TSTAMP
426              PIN_FLD_CURRENT_TOTAL          0       14  PIN_FLDT_DECIMAL
432             PIN_FLD_PREVIOUS_TOTAL          0       14  PIN_FLDT_DECIMAL
434              PIN_FLD_SUBORDS_TOTAL          0       14  PIN_FLDT_DECIMAL
435                  PIN_FLD_TOTAL_DUE          0       14  PIN_FLDT_DECIMAL
853                PIN_FLD_BATCH_TOTAL          0       14  PIN_FLDT_DECIMAL
1846      PIN_FLD_INVOICE_DETAIL_TOTAL          0        1      PIN_FLDT_INT
1877                PIN_FLD_ITEM_TOTAL          0       14  PIN_FLDT_DECIMAL
2008             PIN_FLD_TOTAL_RECORDS          0        1      PIN_FLDT_INT
2194        PIN_FLD_TOTAL_GROUPS_ARRAY          0        9    PIN_FLDT_ARRAY
2195              PIN_FLD_TOTAL_GROUPS          0        1      PIN_FLDT_INT
4157               PIN_FLD_TOTAL_VALUE          0       14  PIN_FLDT_DECIMAL
4254      PIN_FLD_TOTAL_REVENUE_BILLED          0       14  PIN_FLDT_DECIMAL
4264         PIN_FLD_TOTAL_CONNECTIONS          0        1      PIN_FLDT_INT
4683             PIN_FLD_TOTAL_REVENUE          0       14  PIN_FLDT_DECIMAL
5183                    PIN_FLD_TOTALS          0       14  PIN_FLDT_DECIMAL
5199                     TPL_FLD_TOTAL          0       14  PIN_FLDT_DECIMAL
5200                 TPL_FLD_TOTAL_DPP          0       14  PIN_FLDT_DECIMAL
5201                 TPL_FLD_TOTAL_IVA          0       14  PIN_FLDT_DECIMAL
5682              PIN_FLD_TOTAL_VOLUME          0        1      PIN_FLDT_INT
5694          TPL_FLD_TOTAL_COST_ADDON          0       14  PIN_FLDT_DECIMAL
5695           TPL_FLD_TOTAL_COST_PLAN          0       14  PIN_FLDT_DECIMAL
5696          TPL_FLD_TOTAL_MBPS_ADDON          0        1      PIN_FLDT_INT
5697           TPL_FLD_TOTAL_MBPS_PLAN          0        1      PIN_FLDT_INT
19                    TPL_FLD_SUBTOTAL      10027       14  PIN_FLDT_DECIMAL
20          TPL_FLD_TOTAL_DETALLE_DESC      10043        5      PIN_FLDT_STR
21           TPL_FLD_TOTAL_DETALLE_TEL      10042        9    PIN_FLDT_ARRAY
22    TPL_FLD_TOTAL_DETALLE_TEL_AMOUNT      10045       14  PIN_FLDT_DECIMAL
23       TPL_FLD_TOTAL_DETALLE_TEL_MIN      10044        1      PIN_FLDT_INT
24        TPL_FLD_TOTAL_DETALLE_TV_VOD      10038       14  PIN_FLDT_DECIMAL
25                 TPL_FLD_TOTAL_PAGOS      10039       14  PIN_FLDT_DECIMAL
26         TPL_FLD_TOTAL_RENTA_EQUIPOS      10037       14  PIN_FLDT_DECIMAL
27           TPL_FLD_TOTAL_SERVICIO_IP      10036       14  PIN_FLDT_DECIMAL
28          TPL_FLD_TOTAL_SERVICIO_TEL      10033       14  PIN_FLDT_DECIMAL
29           TPL_FLD_TOTAL_SERVICIO_TV      10030       14  PIN_FLDT_DECIMAL